---
openapi: "3.0.1"
info: 
  title: "S-IMSY API"
  description: "A RESTful API to interact with the simsy Programmable Mobile Network"
  termsOfService: "https://simsy.com"
  contact: 
    name: "simsy Contact"
    url: "https://simsy.com"
  license: 
    name: "simsy License"
    url: "https://simsy.com"
  version: "v1"
servers: 
- url: "https://api.simsy.com"
paths: 
  /api/v1/apitokens: 
    get: 
      tags: 
      - "API Tokens"
      summary: "List the API Tokens used to access this API"
      description: ""
      responses: 
        200: 
          description: "OK"
          content: 
            text/plain: 
              schema: 
                $ref: "#/components/schemas/ApiTokenReadModelV1ListMethodResult"
            application/json: 
              schema: 
                $ref: "#/components/schemas/ApiTokenReadModelV1ListMethodResult"
            text/json: 
              schema: 
                $ref: "#/components/schemas/ApiTokenReadModelV1ListMethodResult"
    post: 
      tags: 
      - "API Tokens"
      summary: "Create a Token"
      description: ""
      requestBody: 
        content: 
          application/json: 
            schema: 
              $ref: "#/components/schemas/ApiTokenUpsertV1"
          text/json: 
            schema: 
              $ref: "#/components/schemas/ApiTokenUpsertV1"
          application/*+json: 
            schema: 
              $ref: "#/components/schemas/ApiTokenUpsertV1"
      responses: 
        200: 
          description: "OK"
          content: 
            text/plain: 
              schema: 
                $ref: "#/components/schemas/MethodResult"
            application/json: 
              schema: 
                $ref: "#/components/schemas/MethodResult"
            text/json: 
              schema: 
                $ref: "#/components/schemas/MethodResult"
  /api/v1/apitokens/{apiTokenId}: 
    get: 
      tags: 
      - "API Tokens"
      summary: "Get a specific token"
      description: ""
      parameters: 
      - name: "apiTokenId"
        in: "path"
        required: "true"
        schema: 
          type: "string"
          format: "uuid"
      responses: 
        200: 
          description: "OK"
          content: 
            text/plain: 
              schema: 
                $ref: "#/components/schemas/ApiTokenReadModelV1MethodResult"
            application/json: 
              schema: 
                $ref: "#/components/schemas/ApiTokenReadModelV1MethodResult"
            text/json: 
              schema: 
                $ref: "#/components/schemas/ApiTokenReadModelV1MethodResult"
    put: 
      tags: 
      - "API Tokens"
      summary: "Update a specific token"
      description: ""
      parameters: 
      - name: "apiTokenId"
        in: "path"
        required: "true"
        schema: 
          type: "string"
          format: "uuid"
      requestBody: 
        content: 
          application/json: 
            schema: 
              $ref: "#/components/schemas/ApiTokenUpsertV1"
          text/json: 
            schema: 
              $ref: "#/components/schemas/ApiTokenUpsertV1"
          application/*+json: 
            schema: 
              $ref: "#/components/schemas/ApiTokenUpsertV1"
      responses: 
        200: 
          description: "OK"
          content: 
            text/plain: 
              schema: 
                $ref: "#/components/schemas/MethodResult"
            application/json: 
              schema: 
                $ref: "#/components/schemas/MethodResult"
            text/json: 
              schema: 
                $ref: "#/components/schemas/MethodResult"
    delete: 
      tags: 
      - "API Tokens"
      summary: "Delete a specific token"
      description: ""
      parameters: 
      - name: "apiTokenId"
        in: "path"
        required: "true"
        schema: 
          type: "string"
          format: "uuid"
      responses: 
        200: 
          description: "OK"
          content: 
            text/plain: 
              schema: 
                $ref: "#/components/schemas/MethodResult"
            application/json: 
              schema: 
                $ref: "#/components/schemas/MethodResult"
            text/json: 
              schema: 
                $ref: "#/components/schemas/MethodResult"
  /api/v1/apitokens/verify: 
    get: 
      tags: 
      - "API Tokens"
      summary: "Test if a token is valid"
      description: "The token to be verified needs to be provided in the Authorization HTTP header as Bearer {token}"
      responses: 
        200: 
          description: "OK"
          content: 
            text/plain: 
              schema: 
                $ref: "#/components/schemas/MethodResult"
            application/json: 
              schema: 
                $ref: "#/components/schemas/MethodResult"
            text/json: 
              schema: 
                $ref: "#/components/schemas/MethodResult"
  /api/v1/auditactivity: 
    get: 
      tags: 
      - "Audit"
      summary: "Fetch the logged audit activities on the account"
      description: ""
      parameters: 
      - name: "offset"
        in: "query"
        schema: 
          type: "integer"
          format: "int32"
      - name: "limit"
        in: "query"
        schema: 
          type: "integer"
          format: "int32"
      - name: "sortBy"
        in: "query"
        schema: 
          type: "string"
      - name: "filter"
        in: "query"
        schema: 
          type: "string"
      responses: 
        200: 
          description: "OK"
          content: 
            text/plain: 
              schema: 
                $ref: "#/components/schemas/AuditReadModelV1MethodResultList"
            application/json: 
              schema: 
                $ref: "#/components/schemas/AuditReadModelV1MethodResultList"
            text/json: 
              schema: 
                $ref: "#/components/schemas/AuditReadModelV1MethodResultList"
  /api/v1/authorizations/customerSystemFunctions: 
    get: 
      tags: 
      - "Authorization"
      responses: 
        200: 
          description: "OK"
          content: 
            text/plain: 
              schema: 
                $ref: "#/components/schemas/Int32ArrayMethodResult"
            application/json: 
              schema: 
                $ref: "#/components/schemas/Int32ArrayMethodResult"
            text/json: 
              schema: 
                $ref: "#/components/schemas/Int32ArrayMethodResult"
  /api/v1/authorizations: 
    get: 
      tags: 
      - "Authorization"
      summary: "Get the role(s) of the current user"
      description: ""
      responses: 
        200: 
          description: "OK"
          content: 
            text/plain: 
              schema: 
                $ref: "#/components/schemas/AuthorizationsReadModelV1MethodResult"
            application/json: 
              schema: 
                $ref: "#/components/schemas/AuthorizationsReadModelV1MethodResult"
            text/json: 
              schema: 
                $ref: "#/components/schemas/AuthorizationsReadModelV1MethodResult"
  /api/v1/customer: 
    get: 
      tags: 
      - "Customer Accounts"
      summary: "Get Customer"
      description: ""
      responses: 
        200: 
          description: "OK"
          content: 
            text/plain: 
              schema: 
                $ref: "#/components/schemas/CustomerReadModelV1MethodResult"
            application/json: 
              schema: 
                $ref: "#/components/schemas/CustomerReadModelV1MethodResult"
            text/json: 
              schema: 
                $ref: "#/components/schemas/CustomerReadModelV1MethodResult"
  /api/v1/customer/address: 
    get: 
      tags: 
      - "Customer Accounts"
      summary: "Get Customer address"
      description: ""
      responses: 
        200: 
          description: "OK"
          content: 
            text/plain: 
              schema: 
                $ref: "#/components/schemas/CustomerAddressViewModelV1MethodResult"
            application/json: 
              schema: 
                $ref: "#/components/schemas/CustomerAddressViewModelV1MethodResult"
            text/json: 
              schema: 
                $ref: "#/components/schemas/CustomerAddressViewModelV1MethodResult"
  /api/v1/customer/activesponsors: 
    get: 
      tags: 
      - "Customer Accounts"
      summary: "Get active customer sponsors"
      description: ""
      responses: 
        200: 
          description: "OK"
          content: 
            text/plain: 
              schema: 
                $ref: "#/components/schemas/SponsorOperatorViewModelV1MethodResultList"
            application/json: 
              schema: 
                $ref: "#/components/schemas/SponsorOperatorViewModelV1MethodResultList"
            text/json: 
              schema: 
                $ref: "#/components/schemas/SponsorOperatorViewModelV1MethodResultList"
  /api/v1/account: 
    get: 
      tags: 
      - "Customer Accounts"
      summary: "Get details of account"
      description: ""
      parameters: 
      - name: "customer"
        in: "query"
        schema: 
          type: "string"
          format: "uuid"
      responses: 
        200: 
          description: "OK"
          content: 
            text/plain: 
              schema: 
                $ref: "#/components/schemas/LedgerAccountReadModelV1MethodResult"
            application/json: 
              schema: 
                $ref: "#/components/schemas/LedgerAccountReadModelV1MethodResult"
            text/json: 
              schema: 
                $ref: "#/components/schemas/LedgerAccountReadModelV1MethodResult"
  /api/v1/account/transactions: 
    get: 
      tags: 
      - "Customer Accounts"
      summary: "List Account Transactions"
      description: ""
      parameters: 
      - name: "customer"
        in: "query"
        schema: 
          type: "string"
          format: "uuid"
      - name: "offset"
        in: "query"
        schema: 
          type: "integer"
          format: "int32"
      - name: "limit"
        in: "query"
        schema: 
          type: "integer"
          format: "int32"
      - name: "sortBy"
        in: "query"
        schema: 
          type: "string"
      - name: "filter"
        in: "query"
        schema: 
          type: "string"
      responses: 
        200: 
          description: "OK"
          content: 
            text/plain: 
              schema: 
                $ref: "#/components/schemas/LedgerTransactionReadModelV1MethodResultList"
            application/json: 
              schema: 
                $ref: "#/components/schemas/LedgerTransactionReadModelV1MethodResultList"
            text/json: 
              schema: 
                $ref: "#/components/schemas/LedgerTransactionReadModelV1MethodResultList"
  /api/v1/edgeservices/{idOrMoniker}: 
    get: 
      tags: 
      - "Edge Services"
      summary: "Get a specific Edge Service"
      description: ""
      parameters: 
      - name: "idOrMoniker"
        in: "path"
        required: "true"
        schema: 
          type: "string"
      responses: 
        200: 
          description: "OK"
          content: 
            text/plain: 
              schema: 
                $ref: "#/components/schemas/RoutingTargetReadModelV1MethodResult"
            application/json: 
              schema: 
                $ref: "#/components/schemas/RoutingTargetReadModelV1MethodResult"
            text/json: 
              schema: 
                $ref: "#/components/schemas/RoutingTargetReadModelV1MethodResult"
    put: 
      tags: 
      - "Edge Services"
      summary: "Update an Edge Service"
      description: ""
      parameters: 
      - name: "idOrMoniker"
        in: "path"
        required: "true"
        schema: 
          type: "string"
      requestBody: 
        content: 
          application/json: 
            schema: 
              $ref: "#/components/schemas/EdgeServiceUpsertV1"
          text/json: 
            schema: 
              $ref: "#/components/schemas/EdgeServiceUpsertV1"
          application/*+json: 
            schema: 
              $ref: "#/components/schemas/EdgeServiceUpsertV1"
      responses: 
        200: 
          description: "OK"
          content: 
            text/plain: 
              schema: 
                $ref: "#/components/schemas/MethodResultString"
            application/json: 
              schema: 
                $ref: "#/components/schemas/MethodResultString"
            text/json: 
              schema: 
                $ref: "#/components/schemas/MethodResultString"
    delete: 
      tags: 
      - "Edge Services"
      summary: "Delete a specific Routing Target"
      description: ""
      parameters: 
      - name: "idOrMoniker"
        in: "path"
        required: "true"
        schema: 
          type: "string"
      responses: 
        200: 
          description: "OK"
          content: 
            text/plain: 
              schema: 
                $ref: "#/components/schemas/MethodResultString"
            application/json: 
              schema: 
                $ref: "#/components/schemas/MethodResultString"
            text/json: 
              schema: 
                $ref: "#/components/schemas/MethodResultString"
  /api/v1/edgeservices: 
    get: 
      tags: 
      - "Edge Services"
      parameters: 
      - name: "offset"
        in: "query"
        schema: 
          type: "integer"
          format: "int32"
      - name: "limit"
        in: "query"
        schema: 
          type: "integer"
          format: "int32"
      - name: "sortBy"
        in: "query"
        schema: 
          type: "string"
      - name: "filter"
        in: "query"
        schema: 
          type: "string"
      responses: 
        200: 
          description: "OK"
          content: 
            text/plain: 
              schema: 
                $ref: "#/components/schemas/EdgeServiceListModelV1MethodResultList"
            application/json: 
              schema: 
                $ref: "#/components/schemas/EdgeServiceListModelV1MethodResultList"
            text/json: 
              schema: 
                $ref: "#/components/schemas/EdgeServiceListModelV1MethodResultList"
    post: 
      tags: 
      - "Edge Services"
      summary: "Create an Edge Service"
      description: ""
      requestBody: 
        content: 
          application/json: 
            schema: 
              $ref: "#/components/schemas/EdgeServiceUpsertV1"
          text/json: 
            schema: 
              $ref: "#/components/schemas/EdgeServiceUpsertV1"
          application/*+json: 
            schema: 
              $ref: "#/components/schemas/EdgeServiceUpsertV1"
      responses: 
        200: 
          description: "OK"
          content: 
            text/plain: 
              schema: 
                $ref: "#/components/schemas/GuidMethodResult"
            application/json: 
              schema: 
                $ref: "#/components/schemas/GuidMethodResult"
            text/json: 
              schema: 
                $ref: "#/components/schemas/GuidMethodResult"
  /api/v1/endpointgroups: 
    get: 
      tags: 
      - "Endpoint Groups"
      summary: "List the Endpoint Groups"
      description: ""
      parameters: 
      - name: "offset"
        in: "query"
        schema: 
          type: "integer"
          format: "int32"
      - name: "limit"
        in: "query"
        schema: 
          type: "integer"
          format: "int32"
      - name: "sortBy"
        in: "query"
        schema: 
          type: "string"
      - name: "filter"
        in: "query"
        schema: 
          type: "string"
      responses: 
        200: 
          description: "OK"
          content: 
            text/plain: 
              schema: 
                $ref: "#/components/schemas/EndpointGroupReadModelV1MethodResultList"
            application/json: 
              schema: 
                $ref: "#/components/schemas/EndpointGroupReadModelV1MethodResultList"
            text/json: 
              schema: 
                $ref: "#/components/schemas/EndpointGroupReadModelV1MethodResultList"
    post: 
      tags: 
      - "Endpoint Groups"
      summary: "Create an Endpoint Group"
      description: ""
      requestBody: 
        content: 
          application/json: 
            schema: 
              $ref: "#/components/schemas/EndpointGroupUpsertV1"
          text/json: 
            schema: 
              $ref: "#/components/schemas/EndpointGroupUpsertV1"
          application/*+json: 
            schema: 
              $ref: "#/components/schemas/EndpointGroupUpsertV1"
      responses: 
        200: 
          description: "OK"
          content: 
            text/plain: 
              schema: 
                $ref: "#/components/schemas/GuidMethodResult"
            application/json: 
              schema: 
                $ref: "#/components/schemas/GuidMethodResult"
            text/json: 
              schema: 
                $ref: "#/components/schemas/GuidMethodResult"
  /api/v1/endpointgroups/{idOrMoniker}: 
    get: 
      tags: 
      - "Endpoint Groups"
      summary: "Create a new Endpoint Group"
      description: ""
      parameters: 
      - name: "idOrMoniker"
        in: "path"
        required: "true"
        schema: 
          type: "string"
      responses: 
        200: 
          description: "OK"
          content: 
            text/plain: 
              schema: 
                $ref: "#/components/schemas/EndpointGroupReadModelV1MethodResult"
            application/json: 
              schema: 
                $ref: "#/components/schemas/EndpointGroupReadModelV1MethodResult"
            text/json: 
              schema: 
                $ref: "#/components/schemas/EndpointGroupReadModelV1MethodResult"
    put: 
      tags: 
      - "Endpoint Groups"
      summary: "Update an existing Endpoint Group"
      description: ""
      parameters: 
      - name: "idOrMoniker"
        in: "path"
        required: "true"
        schema: 
          type: "string"
      requestBody: 
        content: 
          application/json: 
            schema: 
              $ref: "#/components/schemas/EndpointGroupUpsertV1"
          text/json: 
            schema: 
              $ref: "#/components/schemas/EndpointGroupUpsertV1"
          application/*+json: 
            schema: 
              $ref: "#/components/schemas/EndpointGroupUpsertV1"
      responses: 
        200: 
          description: "OK"
          content: 
            text/plain: 
              schema: 
                $ref: "#/components/schemas/MethodResultString"
            application/json: 
              schema: 
                $ref: "#/components/schemas/MethodResultString"
            text/json: 
              schema: 
                $ref: "#/components/schemas/MethodResultString"
    delete: 
      tags: 
      - "Endpoint Groups"
      summary: "Delete an Endpoint Group"
      description: ""
      parameters: 
      - name: "idOrMoniker"
        in: "path"
        required: "true"
        schema: 
          type: "string"
      responses: 
        200: 
          description: "OK"
          content: 
            text/plain: 
              schema: 
                $ref: "#/components/schemas/MethodResultString"
            application/json: 
              schema: 
                $ref: "#/components/schemas/MethodResultString"
            text/json: 
              schema: 
                $ref: "#/components/schemas/MethodResultString"
  /api/v1/endpointgroups/{idOrMoniker}/endpoints: 
    post: 
      tags: 
      - "Endpoint Groups"
      summary: "Add Endpoints to an Endpoint Group"
      description: ""
      parameters: 
      - name: "idOrMoniker"
        in: "path"
        required: "true"
        schema: 
          type: "string"
      requestBody: 
        content: 
          application/json: 
            schema: 
              $ref: "#/components/schemas/EndpointAddRemoveGroupV1"
          text/json: 
            schema: 
              $ref: "#/components/schemas/EndpointAddRemoveGroupV1"
          application/*+json: 
            schema: 
              $ref: "#/components/schemas/EndpointAddRemoveGroupV1"
      responses: 
        200: 
          description: "OK"
          content: 
            text/plain: 
              schema: 
                $ref: "#/components/schemas/GuidMethodResult"
            application/json: 
              schema: 
                $ref: "#/components/schemas/GuidMethodResult"
            text/json: 
              schema: 
                $ref: "#/components/schemas/GuidMethodResult"
  /api/v1/endpointgroups/{idOrMoniker}/endpoints/{endpointId}: 
    delete: 
      tags: 
      - "Endpoint Groups"
      summary: "Remove an Endpoint from an Endpoint Group"
      description: ""
      parameters: 
      - name: "idOrMoniker"
        in: "path"
        required: "true"
        schema: 
          type: "string"
      - name: "endpointId"
        in: "path"
        required: "true"
        schema: 
          type: "string"
          format: "uuid"
      responses: 
        200: 
          description: "OK"
          content: 
            text/plain: 
              schema: 
                $ref: "#/components/schemas/MethodResult"
            application/json: 
              schema: 
                $ref: "#/components/schemas/MethodResult"
            text/json: 
              schema: 
                $ref: "#/components/schemas/MethodResult"
  /api/v1/endpoints: 
    get: 
      tags: 
      - "Endpoints"
      summary: "Get a list of Endpoints"
      description: ""
      parameters: 
      - name: "offset"
        in: "query"
        schema: 
          type: "integer"
          format: "int32"
      - name: "limit"
        in: "query"
        schema: 
          type: "integer"
          format: "int32"
      - name: "sortBy"
        in: "query"
        schema: 
          type: "string"
      - name: "filter"
        in: "query"
        schema: 
          type: "string"
      responses: 
        200: 
          description: "OK"
          content: 
            text/plain: 
              schema: 
                $ref: "#/components/schemas/EndpointReadModelV1MethodResultList"
            application/json: 
              schema: 
                $ref: "#/components/schemas/EndpointReadModelV1MethodResultList"
            text/json: 
              schema: 
                $ref: "#/components/schemas/EndpointReadModelV1MethodResultList"
  /api/v1/endpoints/{endpointIdentifier}: 
    get: 
      tags: 
      - "Endpoints"
      summary: "Get a specific Endpoint"
      description: "Query an endpoint with an endpoint id, ICCID or endpoint reference"
      parameters: 
      - name: "endpointIdentifier"
        in: "path"
        required: "true"
        schema: 
          type: "string"
      responses: 
        200: 
          description: "OK"
          content: 
            text/plain: 
              schema: 
                $ref: "#/components/schemas/EndpointReadModelV1MethodResult"
            application/json: 
              schema: 
                $ref: "#/components/schemas/EndpointReadModelV1MethodResult"
            text/json: 
              schema: 
                $ref: "#/components/schemas/EndpointReadModelV1MethodResult"
    put: 
      tags: 
      - "Endpoints"
      summary: "Update a specific Endpoint"
      description: "Update an endpoint with an endpoint id, ICCID or endpoint reference"
      parameters: 
      - name: "endpointIdentifier"
        in: "path"
        required: "true"
        schema: 
          type: "string"
      requestBody: 
        content: 
          application/json: 
            schema: 
              $ref: "#/components/schemas/EndpointUpsertV1"
          text/json: 
            schema: 
              $ref: "#/components/schemas/EndpointUpsertV1"
          application/*+json: 
            schema: 
              $ref: "#/components/schemas/EndpointUpsertV1"
      responses: 
        200: 
          description: "OK"
          content: 
            text/plain: 
              schema: 
                $ref: "#/components/schemas/MethodResult"
            application/json: 
              schema: 
                $ref: "#/components/schemas/MethodResult"
            text/json: 
              schema: 
                $ref: "#/components/schemas/MethodResult"
  /api/v1/endpoints/{endpointIdentifier}/metrics/datatransfer: 
    get: 
      tags: 
      - "Endpoints"
      summary: "List data transfer for an Endpoint"
      description: "Get data for an endpoint with an endpoint id, ICCID or endpoint reference"
      parameters: 
      - name: "endpointIdentifier"
        in: "path"
        required: "true"
        schema: 
          type: "string"
      - name: "filter"
        in: "query"
        schema: 
          type: "string"
          default: ""
      - name: "timewindow"
        in: "query"
        schema: 
          type: "integer"
          format: "int32"
          default: "360"
      responses: 
        200: 
          description: "OK"
          content: 
            text/plain: 
              schema: 
                $ref: "#/components/schemas/DataTransferMetricReadModelV1IEnumerableMethodResult"
            application/json: 
              schema: 
                $ref: "#/components/schemas/DataTransferMetricReadModelV1IEnumerableMethodResult"
            text/json: 
              schema: 
                $ref: "#/components/schemas/DataTransferMetricReadModelV1IEnumerableMethodResult"
  /api/v1/endpoints/activate: 
    post: 
      tags: 
      - "Endpoints"
      summary: "Activate an Endpoint"
      description: ""
      requestBody: 
        content: 
          application/json: 
            schema: 
              $ref: "#/components/schemas/ActivateSimModelV1"
          text/json: 
            schema: 
              $ref: "#/components/schemas/ActivateSimModelV1"
          application/*+json: 
            schema: 
              $ref: "#/components/schemas/ActivateSimModelV1"
      responses: 
        200: 
          description: "OK"
          content: 
            text/plain: 
              schema: 
                $ref: "#/components/schemas/MethodResult"
            application/json: 
              schema: 
                $ref: "#/components/schemas/MethodResult"
            text/json: 
              schema: 
                $ref: "#/components/schemas/MethodResult"
  /api/v1/endpoints/{endpointIdentifier}/configureendpointaddress: 
    post: 
      tags: 
      - "Endpoints"
      summary: "Allocate an IP address to an endpoint"
      description: "Allocate to an endpoint with an endpoint id, ICCID or endpoint reference"
      parameters: 
      - name: "endpointIdentifier"
        in: "path"
        required: "true"
        schema: 
          type: "string"
      responses: 
        200: 
          description: "OK"
          content: 
            text/plain: 
              schema: 
                $ref: "#/components/schemas/IpAddressAllocateReadModelV1MethodResult"
            application/json: 
              schema: 
                $ref: "#/components/schemas/IpAddressAllocateReadModelV1MethodResult"
            text/json: 
              schema: 
                $ref: "#/components/schemas/IpAddressAllocateReadModelV1MethodResult"
  /api/v1/endpoints/{endpointIdentifier}/events: 
    get: 
      tags: 
      - "Endpoints"
      summary: "List events for an Endpoint"
      description: "List events for an endpoint with an endpoint id, ICCID or endpoint reference"
      parameters: 
      - name: "endpointIdentifier"
        in: "path"
        required: "true"
        schema: 
          type: "string"
      - name: "from"
        in: "query"
        schema: 
          type: "string"
      - name: "to"
        in: "query"
        schema: 
          type: "string"
      - name: "offset"
        in: "query"
        schema: 
          type: "integer"
          format: "int32"
          default: "0"
      - name: "limit"
        in: "query"
        schema: 
          type: "integer"
          format: "int32"
          default: "0"
      - name: "sortOrder"
        in: "query"
        schema: 
          type: "integer"
          format: "int32"
          default: "1"
      - name: "filter"
        in: "query"
        schema: 
          type: "string"
          default: ""
      responses: 
        200: 
          description: "OK"
          content: 
            text/plain: 
              schema: 
                $ref: "#/components/schemas/EventOutInternalModelV1IEnumerableMethodResult"
            application/json: 
              schema: 
                $ref: "#/components/schemas/EventOutInternalModelV1IEnumerableMethodResult"
            text/json: 
              schema: 
                $ref: "#/components/schemas/EventOutInternalModelV1IEnumerableMethodResult"
  /api/v1/endpoints/{endpointIdentifier}/servingnetwork: 
    get: 
      tags: 
      - "Endpoints"
      summary: "Get the Carrier Network an Endpoint is attached to"
      description: "Get network with an endpoint id, ICCID or endpoint reference"
      parameters: 
      - name: "endpointIdentifier"
        in: "path"
        required: "true"
        schema: 
          type: "string"
      responses: 
        200: 
          description: "OK"
          content: 
            text/plain: 
              schema: 
                $ref: "#/components/schemas/EndpointServingNetworkReadModelV1MethodResult"
            application/json: 
              schema: 
                $ref: "#/components/schemas/EndpointServingNetworkReadModelV1MethodResult"
            text/json: 
              schema: 
                $ref: "#/components/schemas/EndpointServingNetworkReadModelV1MethodResult"
  /api/v1/endpoints/{endpointIdentifier}/accesstechnology: 
    get: 
      tags: 
      - "Endpoints"
      summary: "Get the Radio Access Technology (2G/3G/4G/5G) an Endpoint is attached to"
      description: "Get the endpoint RAT with an endpoint id, ICCID or endpoint reference"
      parameters: 
      - name: "endpointIdentifier"
        in: "path"
        required: "true"
        schema: 
          type: "string"
      responses: 
        200: 
          description: "OK"
          content: 
            text/plain: 
              schema: 
                $ref: "#/components/schemas/EndpointAccessTechnologyReadModelV1MethodResult"
            application/json: 
              schema: 
                $ref: "#/components/schemas/EndpointAccessTechnologyReadModelV1MethodResult"
            text/json: 
              schema: 
                $ref: "#/components/schemas/EndpointAccessTechnologyReadModelV1MethodResult"
  /api/v1/endpoints/{endpointIdentifier}/imei: 
    get: 
      tags: 
      - "Endpoints"
      summary: "Get the IMEI of the device using an Endpoint"
      description: "Get the endpoint IMEI with an endpoint id, ICCID or endpoint reference"
      parameters: 
      - name: "endpointIdentifier"
        in: "path"
        required: "true"
        schema: 
          type: "string"
      responses: 
        200: 
          description: "OK"
          content: 
            text/plain: 
              schema: 
                $ref: "#/components/schemas/EndpointAccessTechnologyReadModelV1MethodResult"
            application/json: 
              schema: 
                $ref: "#/components/schemas/EndpointAccessTechnologyReadModelV1MethodResult"
            text/json: 
              schema: 
                $ref: "#/components/schemas/EndpointAccessTechnologyReadModelV1MethodResult"
  /api/v1/endpoints/{endpointIdentifier}/location: 
    get: 
      tags: 
      - "Endpoints"
      summary: "Get Country, Carrier Network and Cell ID that an Endpoint is located in"
      description: "Get the endpoint location with an endpoint id, ICCID or endpoint reference"
      parameters: 
      - name: "endpointIdentifier"
        in: "path"
        required: "true"
        schema: 
          type: "string"
      responses: 
        200: 
          description: "OK"
          content: 
            text/plain: 
              schema: 
                $ref: "#/components/schemas/EndpointLocationReadModelV1MethodResult"
            application/json: 
              schema: 
                $ref: "#/components/schemas/EndpointLocationReadModelV1MethodResult"
            text/json: 
              schema: 
                $ref: "#/components/schemas/EndpointLocationReadModelV1MethodResult"
  /api/v1/endpoints/{endpointIdentifier}/status: 
    get: 
      tags: 
      - "Endpoints"
      summary: "Get the time-stamp the Endpoint was last seen and the status of the Endpoint"
      description: "Get the endpoint status with an endpoint id, ICCID or endpoint reference"
      parameters: 
      - name: "endpointIdentifier"
        in: "path"
        required: "true"
        schema: 
          type: "string"
      responses: 
        200: 
          description: "OK"
          content: 
            text/plain: 
              schema: 
                $ref: "#/components/schemas/EndpointStatusReadModelV1MethodResult"
            application/json: 
              schema: 
                $ref: "#/components/schemas/EndpointStatusReadModelV1MethodResult"
            text/json: 
              schema: 
                $ref: "#/components/schemas/EndpointStatusReadModelV1MethodResult"
  /api/v1/endpoints/{endpointIdentifier}/ipaddress: 
    get: 
      tags: 
      - "Endpoints"
      summary: "Get the IP address of an Endpoint"
      description: "Get the endpoint IP with an endpoint id, ICCID or endpoint reference"
      parameters: 
      - name: "endpointIdentifier"
        in: "path"
        required: "true"
        schema: 
          type: "string"
      responses: 
        200: 
          description: "OK"
          content: 
            text/plain: 
              schema: 
                $ref: "#/components/schemas/EndpointIpAddressReadModelV1MethodResult"
            application/json: 
              schema: 
                $ref: "#/components/schemas/EndpointIpAddressReadModelV1MethodResult"
            text/json: 
              schema: 
                $ref: "#/components/schemas/EndpointIpAddressReadModelV1MethodResult"
  /api/v1/endpoints/{endpointIdentifier}/keyvalues: 
    get: 
      tags: 
      - "Endpoints"
      summary: "List the Edge Key/Values for an Endpoint"
      description: "Get the endpoint edge values with an endpoint id, ICCID or endpoint reference"
      parameters: 
      - name: "endpointIdentifier"
        in: "path"
        required: "true"
        schema: 
          type: "string"
      responses: 
        200: 
          description: "OK"
          content: 
            text/plain: 
              schema: 
                $ref: "#/components/schemas/KeyValueReadModelIEnumerableMethodResultList"
            application/json: 
              schema: 
                $ref: "#/components/schemas/KeyValueReadModelIEnumerableMethodResultList"
            text/json: 
              schema: 
                $ref: "#/components/schemas/KeyValueReadModelIEnumerableMethodResultList"
  /api/v1/endpoints/{endpointIdentifier}/keyvalues/{key}: 
    delete: 
      tags: 
      - "Endpoints"
      summary: "Remove an Edge Key/Value for an Endpoint"
      description: "Remove endpoint edge values with an endpoint id, ICCID or endpoint reference"
      parameters: 
      - name: "endpointIdentifier"
        in: "path"
        required: "true"
        schema: 
          type: "string"
      - name: "key"
        in: "path"
        required: "true"
        schema: 
          type: "string"
      responses: 
        200: 
          description: "OK"
          content: 
            text/plain: 
              schema: 
                $ref: "#/components/schemas/MethodResult"
            application/json: 
              schema: 
                $ref: "#/components/schemas/MethodResult"
            text/json: 
              schema: 
                $ref: "#/components/schemas/MethodResult"
    put: 
      tags: 
      - "Endpoints"
      summary: "Update an Edge Key/Value for an Endpoint"
      description: "Update endpoint edge values with an endpoint id, ICCID or endpoint reference"
      parameters: 
      - name: "tenant"
        in: "query"
        schema: 
          type: "string"
          format: "uuid"
      - name: "customer"
        in: "query"
        schema: 
          type: "string"
          format: "uuid"
      - name: "endpointIdentifier"
        in: "path"
        required: "true"
        schema: 
          type: "string"
      - name: "key"
        in: "path"
        required: "true"
        schema: 
          type: "string"
      requestBody: 
        content: 
          application/json: 
            schema: 
              $ref: "#/components/schemas/KeyValueWriteModel"
          text/json: 
            schema: 
              $ref: "#/components/schemas/KeyValueWriteModel"
          application/*+json: 
            schema: 
              $ref: "#/components/schemas/KeyValueWriteModel"
      responses: 
        200: 
          description: "OK"
          content: 
            text/plain: 
              schema: 
                $ref: "#/components/schemas/MethodResult"
            application/json: 
              schema: 
                $ref: "#/components/schemas/MethodResult"
            text/json: 
              schema: 
                $ref: "#/components/schemas/MethodResult"
  /api/v1/endpoints/{endpointIdentifier}/sms: 
    post: 
      tags: 
      - "Endpoints"
      summary: "Send an SMS (Mobile Terminated) to the Endpoint"
      description: "Send endpoint an SMS with an endpoint id, ICCID or endpoint reference"
      parameters: 
      - name: "endpointIdentifier"
        in: "path"
        required: "true"
        schema: 
          type: "string"
      requestBody: 
        content: 
          application/json: 
            schema: 
              $ref: "#/components/schemas/OutboundSMSModelV1"
          text/json: 
            schema: 
              $ref: "#/components/schemas/OutboundSMSModelV1"
          application/*+json: 
            schema: 
              $ref: "#/components/schemas/OutboundSMSModelV1"
      responses: 
        200: 
          description: "OK"
          content: 
            text/plain: 
              schema: 
                $ref: "#/components/schemas/OutboundSMSResponseModelV1MethodResult"
            application/json: 
              schema: 
                $ref: "#/components/schemas/OutboundSMSResponseModelV1MethodResult"
            text/json: 
              schema: 
                $ref: "#/components/schemas/OutboundSMSResponseModelV1MethodResult"
  /api/v1/endpoints/{endpointIdentifier}/suspend: 
    post: 
      tags: 
      - "Endpoints"
      summary: "Suspend a specific Endpoint"
      description: "Suspend a endpoint with an endpoint id, ICCID or endpoint reference"
      parameters: 
      - name: "endpointIdentifier"
        in: "path"
        required: "true"
        schema: 
          type: "string"
      responses: 
        200: 
          description: "OK"
          content: 
            text/plain: 
              schema: 
                $ref: "#/components/schemas/MethodResult"
            application/json: 
              schema: 
                $ref: "#/components/schemas/MethodResult"
            text/json: 
              schema: 
                $ref: "#/components/schemas/MethodResult"
  /api/v1/endpoints/{endpointIdentifier}/resume: 
    post: 
      tags: 
      - "Endpoints"
      summary: "Resume a specific Endpoint"
      description: "Resume a endpoint with an endpoint id, ICCID or endpoint reference"
      parameters: 
      - name: "endpointIdentifier"
        in: "path"
        required: "true"
        schema: 
          type: "string"
      responses: 
        200: 
          description: "OK"
          content: 
            text/plain: 
              schema: 
                $ref: "#/components/schemas/MethodResult"
            application/json: 
              schema: 
                $ref: "#/components/schemas/MethodResult"
            text/json: 
              schema: 
                $ref: "#/components/schemas/MethodResult"
  /api/v1/endpoints/{endpointIdentifier}/terminate: 
    post: 
      tags: 
      - "Endpoints"
      summary: "Terminate a specific Endpoint"
      description: "Terminate a endpoint with an endpoint id, ICCID or endpoint reference"
      parameters: 
      - name: "endpointIdentifier"
        in: "path"
        required: "true"
        schema: 
          type: "string"
      responses: 
        200: 
          description: "OK"
          content: 
            text/plain: 
              schema: 
                $ref: "#/components/schemas/MethodResult"
            application/json: 
              schema: 
                $ref: "#/components/schemas/MethodResult"
            text/json: 
              schema: 
                $ref: "#/components/schemas/MethodResult"
  /api/v1/endpoints/{endpointIdentifier}/reset: 
    post: 
      tags: 
      - "Endpoints"
      summary: "Reset a specific Endpoint"
      description: "Reset a endpoint with an endpoint id, ICCID or endpoint reference"
      parameters: 
      - name: "endpointIdentifier"
        in: "path"
        required: "true"
        schema: 
          type: "string"
      - name: "forceDetach"
        in: "query"
        schema: 
          type: "boolean"
          default: "false"
      - name: "endDataSession"
        in: "query"
        schema: 
          type: "boolean"
          default: "true"
      responses: 
        200: 
          description: "OK"
          content: 
            text/plain: 
              schema: 
                $ref: "#/components/schemas/MethodResult"
            application/json: 
              schema: 
                $ref: "#/components/schemas/MethodResult"
            text/json: 
              schema: 
                $ref: "#/components/schemas/MethodResult"
  /api/v1/eventendpoints: 
    get: 
      tags: 
      - "Event Endpoints"
      summary: "List the Event Endpoint(s)"
      description: ""
      parameters: 
      - name: "offset"
        in: "query"
        schema: 
          type: "integer"
          format: "int32"
      - name: "limit"
        in: "query"
        schema: 
          type: "integer"
          format: "int32"
      - name: "sortBy"
        in: "query"
        schema: 
          type: "string"
      - name: "filter"
        in: "query"
        schema: 
          type: "string"
      responses: 
        200: 
          description: "OK"
          content: 
            text/plain: 
              schema: 
                $ref: "#/components/schemas/EventHandlerReadModelV1MethodResultList"
            application/json: 
              schema: 
                $ref: "#/components/schemas/EventHandlerReadModelV1MethodResultList"
            text/json: 
              schema: 
                $ref: "#/components/schemas/EventHandlerReadModelV1MethodResultList"
      deprecated: "true"
    post: 
      tags: 
      - "Event Endpoints"
      summary: "Create a new Event Endpoint"
      description: ""
      requestBody: 
        content: 
          application/json: 
            schema: 
              $ref: "#/components/schemas/EventHandlerUpsertV1"
          text/json: 
            schema: 
              $ref: "#/components/schemas/EventHandlerUpsertV1"
          application/*+json: 
            schema: 
              $ref: "#/components/schemas/EventHandlerUpsertV1"
      responses: 
        200: 
          description: "OK"
          content: 
            text/plain: 
              schema: 
                $ref: "#/components/schemas/GuidMethodResult"
            application/json: 
              schema: 
                $ref: "#/components/schemas/GuidMethodResult"
            text/json: 
              schema: 
                $ref: "#/components/schemas/GuidMethodResult"
      deprecated: "true"
  /api/v1/eventendpoints/{idOrMoniker}: 
    get: 
      tags: 
      - "Event Endpoints"
      summary: "Get an Event Endpoint"
      description: ""
      parameters: 
      - name: "idOrMoniker"
        in: "path"
        required: "true"
        schema: 
          type: "string"
      responses: 
        200: 
          description: "OK"
          content: 
            text/plain: 
              schema: 
                $ref: "#/components/schemas/EventHandlerReadModelV1MethodResult"
            application/json: 
              schema: 
                $ref: "#/components/schemas/EventHandlerReadModelV1MethodResult"
            text/json: 
              schema: 
                $ref: "#/components/schemas/EventHandlerReadModelV1MethodResult"
      deprecated: "true"
    put: 
      tags: 
      - "Event Endpoints"
      summary: "Update an existing Event Endpoint"
      description: ""
      parameters: 
      - name: "idOrMoniker"
        in: "path"
        required: "true"
        schema: 
          type: "string"
      requestBody: 
        content: 
          application/json: 
            schema: 
              $ref: "#/components/schemas/EventHandlerUpsertV1"
          text/json: 
            schema: 
              $ref: "#/components/schemas/EventHandlerUpsertV1"
          application/*+json: 
            schema: 
              $ref: "#/components/schemas/EventHandlerUpsertV1"
      responses: 
        200: 
          description: "OK"
          content: 
            text/plain: 
              schema: 
                $ref: "#/components/schemas/MethodResultString"
            application/json: 
              schema: 
                $ref: "#/components/schemas/MethodResultString"
            text/json: 
              schema: 
                $ref: "#/components/schemas/MethodResultString"
      deprecated: "true"
    delete: 
      tags: 
      - "Event Endpoints"
      summary: "Delete an Event Endpoint"
      description: ""
      parameters: 
      - name: "idOrMoniker"
        in: "path"
        required: "true"
        schema: 
          type: "string"
      responses: 
        200: 
          description: "OK"
          content: 
            text/plain: 
              schema: 
                $ref: "#/components/schemas/MethodResultString"
            application/json: 
              schema: 
                $ref: "#/components/schemas/MethodResultString"
            text/json: 
              schema: 
                $ref: "#/components/schemas/MethodResultString"
      deprecated: "true"
  /api/v1/eventhandlers: 
    get: 
      tags: 
      - "Event Handlers"
      summary: "List the Event Handler(s)"
      description: ""
      parameters: 
      - name: "offset"
        in: "query"
        schema: 
          type: "integer"
          format: "int32"
      - name: "limit"
        in: "query"
        schema: 
          type: "integer"
          format: "int32"
      - name: "sortBy"
        in: "query"
        schema: 
          type: "string"
      - name: "filter"
        in: "query"
        schema: 
          type: "string"
      responses: 
        200: 
          description: "OK"
          content: 
            text/plain: 
              schema: 
                $ref: "#/components/schemas/EventHandlerReadModelV1MethodResultList"
            application/json: 
              schema: 
                $ref: "#/components/schemas/EventHandlerReadModelV1MethodResultList"
            text/json: 
              schema: 
                $ref: "#/components/schemas/EventHandlerReadModelV1MethodResultList"
    post: 
      tags: 
      - "Event Handlers"
      summary: "Create a new Event Handler"
      description: ""
      requestBody: 
        content: 
          application/json: 
            schema: 
              $ref: "#/components/schemas/EventHandlerUpsertV1"
          text/json: 
            schema: 
              $ref: "#/components/schemas/EventHandlerUpsertV1"
          application/*+json: 
            schema: 
              $ref: "#/components/schemas/EventHandlerUpsertV1"
      responses: 
        200: 
          description: "OK"
          content: 
            text/plain: 
              schema: 
                $ref: "#/components/schemas/GuidMethodResult"
            application/json: 
              schema: 
                $ref: "#/components/schemas/GuidMethodResult"
            text/json: 
              schema: 
                $ref: "#/components/schemas/GuidMethodResult"
  /api/v1/eventhandlers/{idOrMoniker}: 
    get: 
      tags: 
      - "Event Handlers"
      summary: "Get an Event Handler"
      description: ""
      parameters: 
      - name: "idOrMoniker"
        in: "path"
        required: "true"
        schema: 
          type: "string"
      responses: 
        200: 
          description: "OK"
          content: 
            text/plain: 
              schema: 
                $ref: "#/components/schemas/EventHandlerReadModelV1MethodResult"
            application/json: 
              schema: 
                $ref: "#/components/schemas/EventHandlerReadModelV1MethodResult"
            text/json: 
              schema: 
                $ref: "#/components/schemas/EventHandlerReadModelV1MethodResult"
    put: 
      tags: 
      - "Event Handlers"
      summary: "Update an existing Event Handler"
      description: ""
      parameters: 
      - name: "idOrMoniker"
        in: "path"
        required: "true"
        schema: 
          type: "string"
      requestBody: 
        content: 
          application/json: 
            schema: 
              $ref: "#/components/schemas/EventHandlerUpsertV1"
          text/json: 
            schema: 
              $ref: "#/components/schemas/EventHandlerUpsertV1"
          application/*+json: 
            schema: 
              $ref: "#/components/schemas/EventHandlerUpsertV1"
      responses: 
        200: 
          description: "OK"
          content: 
            text/plain: 
              schema: 
                $ref: "#/components/schemas/MethodResultString"
            application/json: 
              schema: 
                $ref: "#/components/schemas/MethodResultString"
            text/json: 
              schema: 
                $ref: "#/components/schemas/MethodResultString"
    delete: 
      tags: 
      - "Event Handlers"
      summary: "Delete an Event Handler"
      description: ""
      parameters: 
      - name: "idOrMoniker"
        in: "path"
        required: "true"
        schema: 
          type: "string"
      responses: 
        200: 
          description: "OK"
          content: 
            text/plain: 
              schema: 
                $ref: "#/components/schemas/MethodResultString"
            application/json: 
              schema: 
                $ref: "#/components/schemas/MethodResultString"
            text/json: 
              schema: 
                $ref: "#/components/schemas/MethodResultString"
  /api/v1/eventmaps: 
    get: 
      tags: 
      - "Event Maps"
      summary: "List the Event Map(s)"
      description: ""
      parameters: 
      - name: "offset"
        in: "query"
        schema: 
          type: "integer"
          format: "int32"
      - name: "limit"
        in: "query"
        schema: 
          type: "integer"
          format: "int32"
      - name: "sortBy"
        in: "query"
        schema: 
          type: "string"
      - name: "filter"
        in: "query"
        schema: 
          type: "string"
      responses: 
        200: 
          description: "OK"
          content: 
            text/plain: 
              schema: 
                $ref: "#/components/schemas/EventMapReadModelV1MethodResultList"
            application/json: 
              schema: 
                $ref: "#/components/schemas/EventMapReadModelV1MethodResultList"
            text/json: 
              schema: 
                $ref: "#/components/schemas/EventMapReadModelV1MethodResultList"
    post: 
      tags: 
      - "Event Maps"
      summary: "Create a new Event Map"
      description: ""
      requestBody: 
        content: 
          application/json: 
            schema: 
              $ref: "#/components/schemas/EventMapUpsertV1"
          text/json: 
            schema: 
              $ref: "#/components/schemas/EventMapUpsertV1"
          application/*+json: 
            schema: 
              $ref: "#/components/schemas/EventMapUpsertV1"
      responses: 
        200: 
          description: "OK"
          content: 
            text/plain: 
              schema: 
                $ref: "#/components/schemas/GuidMethodResult"
            application/json: 
              schema: 
                $ref: "#/components/schemas/GuidMethodResult"
            text/json: 
              schema: 
                $ref: "#/components/schemas/GuidMethodResult"
  /api/v1/eventmaps/{idOrMoniker}: 
    get: 
      tags: 
      - "Event Maps"
      summary: "Get an Event Map"
      description: ""
      parameters: 
      - name: "idOrMoniker"
        in: "path"
        required: "true"
        schema: 
          type: "string"
      responses: 
        200: 
          description: "OK"
          content: 
            text/plain: 
              schema: 
                $ref: "#/components/schemas/EventMapReadModelV1MethodResult"
            application/json: 
              schema: 
                $ref: "#/components/schemas/EventMapReadModelV1MethodResult"
            text/json: 
              schema: 
                $ref: "#/components/schemas/EventMapReadModelV1MethodResult"
    put: 
      tags: 
      - "Event Maps"
      summary: "Update an existing Event Map"
      description: ""
      parameters: 
      - name: "idOrMoniker"
        in: "path"
        required: "true"
        schema: 
          type: "string"
      requestBody: 
        content: 
          application/json: 
            schema: 
              $ref: "#/components/schemas/EventMapUpsertV1"
          text/json: 
            schema: 
              $ref: "#/components/schemas/EventMapUpsertV1"
          application/*+json: 
            schema: 
              $ref: "#/components/schemas/EventMapUpsertV1"
      responses: 
        200: 
          description: "OK"
          content: 
            text/plain: 
              schema: 
                $ref: "#/components/schemas/MethodResultString"
            application/json: 
              schema: 
                $ref: "#/components/schemas/MethodResultString"
            text/json: 
              schema: 
                $ref: "#/components/schemas/MethodResultString"
    delete: 
      tags: 
      - "Event Maps"
      summary: "Delete an Event Map"
      description: ""
      parameters: 
      - name: "idOrMoniker"
        in: "path"
        required: "true"
        schema: 
          type: "string"
      responses: 
        200: 
          description: "OK"
          content: 
            text/plain: 
              schema: 
                $ref: "#/components/schemas/MethodResultString"
            application/json: 
              schema: 
                $ref: "#/components/schemas/MethodResultString"
            text/json: 
              schema: 
                $ref: "#/components/schemas/MethodResultString"
  /api/v1/eventmaps/{idOrMoniker}/subscriptions: 
    get: 
      tags: 
      - "Event Maps"
      summary: "List subscribed events for an Event Map"
      description: ""
      parameters: 
      - name: "idOrMoniker"
        in: "path"
        required: "true"
        schema: 
          type: "string"
      responses: 
        200: 
          description: "OK"
          content: 
            text/plain: 
              schema: 
                $ref: "#/components/schemas/EventSubscriptionReadModelV1ListMethodResult"
            application/json: 
              schema: 
                $ref: "#/components/schemas/EventSubscriptionReadModelV1ListMethodResult"
            text/json: 
              schema: 
                $ref: "#/components/schemas/EventSubscriptionReadModelV1ListMethodResult"
    post: 
      tags: 
      - "Event Maps"
      summary: "Subscribe to an event for an Event Map"
      description: ""
      parameters: 
      - name: "idOrMoniker"
        in: "path"
        required: "true"
        schema: 
          type: "string"
      requestBody: 
        content: 
          application/json: 
            schema: 
              type: "array"
              items: 
                $ref: "#/components/schemas/EventSubscriptionsUpsertV1"
          text/json: 
            schema: 
              type: "array"
              items: 
                $ref: "#/components/schemas/EventSubscriptionsUpsertV1"
          application/*+json: 
            schema: 
              type: "array"
              items: 
                $ref: "#/components/schemas/EventSubscriptionsUpsertV1"
      responses: 
        200: 
          description: "OK"
          content: 
            text/plain: 
              schema: 
                $ref: "#/components/schemas/EventSubscriptionReadModelV1ListMethodResult"
            application/json: 
              schema: 
                $ref: "#/components/schemas/EventSubscriptionReadModelV1ListMethodResult"
            text/json: 
              schema: 
                $ref: "#/components/schemas/EventSubscriptionReadModelV1ListMethodResult"
  /api/v1/eventsubscriptions: 
    get: 
      tags: 
      - "Event Subscriptions"
      summary: "List Event Subscription(s)"
      description: ""
      parameters: 
      - name: "offset"
        in: "query"
        schema: 
          type: "integer"
          format: "int32"
      - name: "limit"
        in: "query"
        schema: 
          type: "integer"
          format: "int32"
      - name: "sortBy"
        in: "query"
        schema: 
          type: "string"
      - name: "filter"
        in: "query"
        schema: 
          type: "string"
      responses: 
        200: 
          description: "OK"
          content: 
            text/plain: 
              schema: 
                $ref: "#/components/schemas/EventSubscriptionReadModelV1MethodResultList"
            application/json: 
              schema: 
                $ref: "#/components/schemas/EventSubscriptionReadModelV1MethodResultList"
            text/json: 
              schema: 
                $ref: "#/components/schemas/EventSubscriptionReadModelV1MethodResultList"
  /api/v1/eventsubscriptions/{idOrMoniker}: 
    get: 
      tags: 
      - "Event Subscriptions"
      summary: "Get details of an Event Subscription"
      description: ""
      parameters: 
      - name: "idOrMoniker"
        in: "path"
        required: "true"
        schema: 
          type: "string"
      responses: 
        200: 
          description: "OK"
          content: 
            text/plain: 
              schema: 
                $ref: "#/components/schemas/EventSubscriptionReadModelV1MethodResult"
            application/json: 
              schema: 
                $ref: "#/components/schemas/EventSubscriptionReadModelV1MethodResult"
            text/json: 
              schema: 
                $ref: "#/components/schemas/EventSubscriptionReadModelV1MethodResult"
    delete: 
      tags: 
      - "Event Subscriptions"
      summary: "Remove an Event Subscription"
      description: ""
      parameters: 
      - name: "idOrMoniker"
        in: "path"
        required: "true"
        schema: 
          type: "string"
      responses: 
        200: 
          description: "OK"
          content: 
            text/plain: 
              schema: 
                $ref: "#/components/schemas/GuidMethodResult"
            application/json: 
              schema: 
                $ref: "#/components/schemas/GuidMethodResult"
            text/json: 
              schema: 
                $ref: "#/components/schemas/GuidMethodResult"
  /api/v1/events: 
    get: 
      tags: 
      - "Events"
      summary: "List all events on the account"
      description: ""
      parameters: 
      - name: "from"
        in: "query"
        schema: 
          type: "string"
      - name: "to"
        in: "query"
        schema: 
          type: "string"
      - name: "offset"
        in: "query"
        schema: 
          type: "integer"
          format: "int32"
          default: "0"
      - name: "limit"
        in: "query"
        schema: 
          type: "integer"
          format: "int32"
          default: "0"
      - name: "sortOrder"
        in: "query"
        schema: 
          type: "integer"
          format: "int32"
          default: "1"
      - name: "filter"
        in: "query"
        schema: 
          type: "string"
          default: ""
      responses: 
        200: 
          description: "OK"
          content: 
            text/plain: 
              schema: 
                $ref: "#/components/schemas/EventOutInternalModelV1IEnumerableMethodResult"
            application/json: 
              schema: 
                $ref: "#/components/schemas/EventOutInternalModelV1IEnumerableMethodResult"
            text/json: 
              schema: 
                $ref: "#/components/schemas/EventOutInternalModelV1IEnumerableMethodResult"
  /api/v1/lookups/DnsModes: 
    get: 
      tags: 
      - "Lookups"
      summary: "List the DNS Modes"
      description: ""
      responses: 
        200: 
          description: "OK"
          content: 
            text/plain: 
              schema: 
                $ref: "#/components/schemas/Int16LookupModelListMethodResult"
            application/json: 
              schema: 
                $ref: "#/components/schemas/Int16LookupModelListMethodResult"
            text/json: 
              schema: 
                $ref: "#/components/schemas/Int16LookupModelListMethodResult"
  /api/v1/lookups/IpAllocationTypes: 
    get: 
      tags: 
      - "Lookups"
      summary: "List the IP Allocation Types"
      description: ""
      responses: 
        200: 
          description: "OK"
          content: 
            text/plain: 
              schema: 
                $ref: "#/components/schemas/Int16LookupModelListMethodResult"
            application/json: 
              schema: 
                $ref: "#/components/schemas/Int16LookupModelListMethodResult"
            text/json: 
              schema: 
                $ref: "#/components/schemas/Int16LookupModelListMethodResult"
  /api/v1/lookups/IpAddressFamilies: 
    get: 
      tags: 
      - "Lookups"
      summary: "List the IP Address Families"
      description: ""
      responses: 
        200: 
          description: "OK"
          content: 
            text/plain: 
              schema: 
                $ref: "#/components/schemas/Int16LookupModelListMethodResult"
            application/json: 
              schema: 
                $ref: "#/components/schemas/Int16LookupModelListMethodResult"
            text/json: 
              schema: 
                $ref: "#/components/schemas/Int16LookupModelListMethodResult"
  /api/v1/lookups/EventEndpointTypes: 
    get: 
      tags: 
      - "Lookups"
      summary: "List the Event Endpoint Types"
      description: ""
      responses: 
        200: 
          description: "OK"
          content: 
            text/plain: 
              schema: 
                $ref: "#/components/schemas/Int16LookupModelListMethodResult"
            application/json: 
              schema: 
                $ref: "#/components/schemas/Int16LookupModelListMethodResult"
            text/json: 
              schema: 
                $ref: "#/components/schemas/Int16LookupModelListMethodResult"
  /api/v1/lookups/EventTypes: 
    get: 
      tags: 
      - "Lookups"
      summary: "List the Event Types"
      description: ""
      parameters: 
      - name: "scope"
        in: "query"
        schema: 
          type: "string"
      responses: 
        200: 
          description: "OK"
          content: 
            text/plain: 
              schema: 
                $ref: "#/components/schemas/EventTypeLookupModelV1ListMethodResult"
            application/json: 
              schema: 
                $ref: "#/components/schemas/EventTypeLookupModelV1ListMethodResult"
            text/json: 
              schema: 
                $ref: "#/components/schemas/EventTypeLookupModelV1ListMethodResult"
  /api/v1/lookups/TraceSessionStatus: 
    get: 
      tags: 
      - "Lookups"
      summary: "List the Trace Session Statuses"
      description: ""
      responses: 
        200: 
          description: "OK"
          content: 
            text/plain: 
              schema: 
                $ref: "#/components/schemas/Int16LookupModelListMethodResult"
            application/json: 
              schema: 
                $ref: "#/components/schemas/Int16LookupModelListMethodResult"
            text/json: 
              schema: 
                $ref: "#/components/schemas/Int16LookupModelListMethodResult"
  /api/v1/lookups/RateLimits: 
    get: 
      tags: 
      - "Lookups"
      summary: "List the Rate Limits"
      description: ""
      responses: 
        200: 
          description: "OK"
          content: 
            text/plain: 
              schema: 
                $ref: "#/components/schemas/RateLimitLookupModelV1ListMethodResult"
            application/json: 
              schema: 
                $ref: "#/components/schemas/RateLimitLookupModelV1ListMethodResult"
            text/json: 
              schema: 
                $ref: "#/components/schemas/RateLimitLookupModelV1ListMethodResult"
  /api/v1/lookups/RoutingTargetTypes: 
    get: 
      tags: 
      - "Lookups"
      summary: "List the Routing Target Types"
      description: ""
      responses: 
        200: 
          description: "OK"
          content: 
            text/plain: 
              schema: 
                $ref: "#/components/schemas/Int16LookupModelListMethodResult"
            application/json: 
              schema: 
                $ref: "#/components/schemas/Int16LookupModelListMethodResult"
            text/json: 
              schema: 
                $ref: "#/components/schemas/Int16LookupModelListMethodResult"
  /api/v1/lookups/RoutingPolicyStatus: 
    get: 
      tags: 
      - "Lookups"
      summary: "List the Routing Policy Status"
      description: ""
      responses: 
        200: 
          description: "OK"
          content: 
            text/plain: 
              schema: 
                $ref: "#/components/schemas/Int16LookupModelListMethodResult"
            application/json: 
              schema: 
                $ref: "#/components/schemas/Int16LookupModelListMethodResult"
            text/json: 
              schema: 
                $ref: "#/components/schemas/Int16LookupModelListMethodResult"
  /api/v1/lookups/BundleStatus: 
    get: 
      tags: 
      - "Lookups"
      summary: "List the Bundle Statuses"
      description: ""
      responses: 
        200: 
          description: "OK"
          content: 
            text/plain: 
              schema: 
                $ref: "#/components/schemas/Int16LookupModelListMethodResult"
            application/json: 
              schema: 
                $ref: "#/components/schemas/Int16LookupModelListMethodResult"
            text/json: 
              schema: 
                $ref: "#/components/schemas/Int16LookupModelListMethodResult"
  /api/v1/lookups/BundleScopes: 
    get: 
      tags: 
      - "Lookups"
      summary: "List the Bundle Scopes"
      description: ""
      responses: 
        200: 
          description: "OK"
          content: 
            text/plain: 
              schema: 
                $ref: "#/components/schemas/Int16LookupModelListMethodResult"
            application/json: 
              schema: 
                $ref: "#/components/schemas/Int16LookupModelListMethodResult"
            text/json: 
              schema: 
                $ref: "#/components/schemas/Int16LookupModelListMethodResult"
  /api/v1/lookups/BundleElementServiceTypes: 
    get: 
      tags: 
      - "Lookups"
      summary: "List the Bundle Element Service Types"
      description: ""
      responses: 
        200: 
          description: "OK"
          content: 
            text/plain: 
              schema: 
                $ref: "#/components/schemas/Int16LookupModelListMethodResult"
            application/json: 
              schema: 
                $ref: "#/components/schemas/Int16LookupModelListMethodResult"
            text/json: 
              schema: 
                $ref: "#/components/schemas/Int16LookupModelListMethodResult"
  /api/v1/lookups/DateDurationUnits: 
    get: 
      tags: 
      - "Lookups"
      summary: "List the Date Durations Units"
      description: ""
      responses: 
        200: 
          description: "OK"
          content: 
            text/plain: 
              schema: 
                $ref: "#/components/schemas/Int16LookupModelListMethodResult"
            application/json: 
              schema: 
                $ref: "#/components/schemas/Int16LookupModelListMethodResult"
            text/json: 
              schema: 
                $ref: "#/components/schemas/Int16LookupModelListMethodResult"
  /api/v1/lookups/EventScopes: 
    get: 
      tags: 
      - "Lookups"
      summary: "List the Event Scopes"
      description: ""
      responses: 
        200: 
          description: "OK"
          content: 
            text/plain: 
              schema: 
                $ref: "#/components/schemas/Int16LookupModelListMethodResult"
            application/json: 
              schema: 
                $ref: "#/components/schemas/Int16LookupModelListMethodResult"
            text/json: 
              schema: 
                $ref: "#/components/schemas/Int16LookupModelListMethodResult"
  /api/v1/lookups/CustomerRoles: 
    get: 
      tags: 
      - "Lookups"
      summary: "List the Customer Roles"
      description: ""
      responses: 
        200: 
          description: "OK"
          content: 
            text/plain: 
              schema: 
                $ref: "#/components/schemas/Int16LookupModelListMethodResult"
            application/json: 
              schema: 
                $ref: "#/components/schemas/Int16LookupModelListMethodResult"
            text/json: 
              schema: 
                $ref: "#/components/schemas/Int16LookupModelListMethodResult"
  /api/v1/lookups/Countries: 
    get: 
      tags: 
      - "Lookups"
      summary: "List the Countries"
      description: ""
      responses: 
        200: 
          description: "OK"
          content: 
            text/plain: 
              schema: 
                $ref: "#/components/schemas/CountryLookupModelV1ListMethodResult"
            application/json: 
              schema: 
                $ref: "#/components/schemas/CountryLookupModelV1ListMethodResult"
            text/json: 
              schema: 
                $ref: "#/components/schemas/CountryLookupModelV1ListMethodResult"
  /api/v1/lookups/ChargingTypes: 
    get: 
      tags: 
      - "Lookups"
      summary: "List the Charging Types"
      description: ""
      responses: 
        200: 
          description: "OK"
          content: 
            text/plain: 
              schema: 
                $ref: "#/components/schemas/Int16LookupModelListMethodResult"
            application/json: 
              schema: 
                $ref: "#/components/schemas/Int16LookupModelListMethodResult"
            text/json: 
              schema: 
                $ref: "#/components/schemas/Int16LookupModelListMethodResult"
  /api/v1/lookups/NetworkOperators: 
    get: 
      tags: 
      - "Lookups"
      summary: "List the Network Operators"
      description: ""
      parameters: 
      - name: "iso3"
        in: "query"
        schema: 
          type: "string"
      responses: 
        200: 
          description: "OK"
          content: 
            text/plain: 
              schema: 
                $ref: "#/components/schemas/NetworkOperatorLookupModelV1ListMethodResult"
            application/json: 
              schema: 
                $ref: "#/components/schemas/NetworkOperatorLookupModelV1ListMethodResult"
            text/json: 
              schema: 
                $ref: "#/components/schemas/NetworkOperatorLookupModelV1ListMethodResult"
  /api/v1/lookups/RoutingRedundancyZones: 
    get: 
      tags: 
      - "Lookups"
      summary: "List the Routing Redundancy Zones"
      description: ""
      parameters: 
      - name: "regionalGatewayMoniker"
        in: "query"
        schema: 
          type: "string"
      responses: 
        200: 
          description: "OK"
          content: 
            text/plain: 
              schema: 
                $ref: "#/components/schemas/RoutingRedundancyZoneReadModelV1ListMethodResult"
            application/json: 
              schema: 
                $ref: "#/components/schemas/RoutingRedundancyZoneReadModelV1ListMethodResult"
            text/json: 
              schema: 
                $ref: "#/components/schemas/RoutingRedundancyZoneReadModelV1ListMethodResult"
  /api/v1/lookups/TransportProtocols: 
    get: 
      tags: 
      - "Lookups"
      summary: "List the Transport Protocols"
      description: ""
      responses: 
        200: 
          description: "OK"
          content: 
            text/plain: 
              schema: 
                $ref: "#/components/schemas/TransportProtocolLookupModelV1ListMethodResult"
            application/json: 
              schema: 
                $ref: "#/components/schemas/TransportProtocolLookupModelV1ListMethodResult"
            text/json: 
              schema: 
                $ref: "#/components/schemas/TransportProtocolLookupModelV1ListMethodResult"
  /api/v1/lookups/VpnIkeOptions: 
    get: 
      tags: 
      - "Lookups"
      summary: "List the VPN IKE Options"
      description: ""
      responses: 
        200: 
          description: "OK"
          content: 
            text/plain: 
              schema: 
                $ref: "#/components/schemas/Int16LookupModelListMethodResult"
            application/json: 
              schema: 
                $ref: "#/components/schemas/Int16LookupModelListMethodResult"
            text/json: 
              schema: 
                $ref: "#/components/schemas/Int16LookupModelListMethodResult"
  /api/v1/lookups/VpnEspOptions: 
    get: 
      tags: 
      - "Lookups"
      summary: "List the VPN ESP Options"
      description: ""
      responses: 
        200: 
          description: "OK"
          content: 
            text/plain: 
              schema: 
                $ref: "#/components/schemas/Int16LookupModelListMethodResult"
            application/json: 
              schema: 
                $ref: "#/components/schemas/Int16LookupModelListMethodResult"
            text/json: 
              schema: 
                $ref: "#/components/schemas/Int16LookupModelListMethodResult"
  /api/v1/lookups/VpnKeyExchangeTypes: 
    get: 
      tags: 
      - "Lookups"
      summary: "List the VPN Key Exchange Types"
      description: ""
      responses: 
        200: 
          description: "OK"
          content: 
            text/plain: 
              schema: 
                $ref: "#/components/schemas/Int16LookupModelListMethodResult"
            application/json: 
              schema: 
                $ref: "#/components/schemas/Int16LookupModelListMethodResult"
            text/json: 
              schema: 
                $ref: "#/components/schemas/Int16LookupModelListMethodResult"
  /api/v1/lookups/VpnEncryptionAlgorithms: 
    get: 
      tags: 
      - "Lookups"
      summary: "List the VPN Encryption Algorithm Types"
      description: ""
      responses: 
        200: 
          description: "OK"
          content: 
            text/plain: 
              schema: 
                $ref: "#/components/schemas/VpnEncryptionAlgorithmLookupModelV1ListMethodResult"
            application/json: 
              schema: 
                $ref: "#/components/schemas/VpnEncryptionAlgorithmLookupModelV1ListMethodResult"
            text/json: 
              schema: 
                $ref: "#/components/schemas/VpnEncryptionAlgorithmLookupModelV1ListMethodResult"
  /api/v1/lookups/VpnAuthenticationAlgorithms: 
    get: 
      tags: 
      - "Lookups"
      summary: "List the VPN Authentication Algorithm Types"
      description: ""
      responses: 
        200: 
          description: "OK"
          content: 
            text/plain: 
              schema: 
                $ref: "#/components/schemas/VpnAuthenticationAlgorithmLookupModelV1ListMethodResult"
            application/json: 
              schema: 
                $ref: "#/components/schemas/VpnAuthenticationAlgorithmLookupModelV1ListMethodResult"
            text/json: 
              schema: 
                $ref: "#/components/schemas/VpnAuthenticationAlgorithmLookupModelV1ListMethodResult"
  /api/v1/lookups/VpnDiffieHellmanGroups: 
    get: 
      tags: 
      - "Lookups"
      summary: "List the VPN Diffie Hellman Groups"
      description: ""
      responses: 
        200: 
          description: "OK"
          content: 
            text/plain: 
              schema: 
                $ref: "#/components/schemas/Int16LookupModelListMethodResult"
            application/json: 
              schema: 
                $ref: "#/components/schemas/Int16LookupModelListMethodResult"
            text/json: 
              schema: 
                $ref: "#/components/schemas/Int16LookupModelListMethodResult"
  /api/v1/lookups/VpnPrfAlgorithms: 
    get: 
      tags: 
      - "Lookups"
      summary: "List the VPN PRF Algorithms"
      description: ""
      responses: 
        200: 
          description: "OK"
          content: 
            text/plain: 
              schema: 
                $ref: "#/components/schemas/Int16LookupModelListMethodResult"
            application/json: 
              schema: 
                $ref: "#/components/schemas/Int16LookupModelListMethodResult"
            text/json: 
              schema: 
                $ref: "#/components/schemas/Int16LookupModelListMethodResult"
  /api/v1/lookups/EdgeServiceTypes: 
    get: 
      tags: 
      - "Lookups"
      summary: "List the Edge Service Types"
      description: ""
      responses: 
        200: 
          description: "OK"
          content: 
            text/plain: 
              schema: 
                $ref: "#/components/schemas/EdgeServiceTypeLookupModelV1ListMethodResult"
            application/json: 
              schema: 
                $ref: "#/components/schemas/EdgeServiceTypeLookupModelV1ListMethodResult"
            text/json: 
              schema: 
                $ref: "#/components/schemas/EdgeServiceTypeLookupModelV1ListMethodResult"
  /api/v1/lookups/TariffElements: 
    get: 
      tags: 
      - "Lookups"
      summary: "List the Tariff Elements"
      description: ""
      responses: 
        200: 
          description: "OK"
          content: 
            text/plain: 
              schema: 
                $ref: "#/components/schemas/TariffElementListMethodResult"
            application/json: 
              schema: 
                $ref: "#/components/schemas/TariffElementListMethodResult"
            text/json: 
              schema: 
                $ref: "#/components/schemas/TariffElementListMethodResult"
  /api/v1/lookups/Currencies: 
    get: 
      tags: 
      - "Lookups"
      summary: "List available currencies"
      description: ""
      responses: 
        200: 
          description: "OK"
          content: 
            text/plain: 
              schema: 
                $ref: "#/components/schemas/CurrencyLookupModelV1ListMethodResult"
            application/json: 
              schema: 
                $ref: "#/components/schemas/CurrencyLookupModelV1ListMethodResult"
            text/json: 
              schema: 
                $ref: "#/components/schemas/CurrencyLookupModelV1ListMethodResult"
  /api/v1/lookups/UsageExportTypes: 
    get: 
      tags: 
      - "Lookups"
      summary: "List the Usage Export Types"
      description: ""
      responses: 
        200: 
          description: "OK"
          content: 
            text/plain: 
              schema: 
                $ref: "#/components/schemas/Int16LookupModelListMethodResult"
            application/json: 
              schema: 
                $ref: "#/components/schemas/Int16LookupModelListMethodResult"
            text/json: 
              schema: 
                $ref: "#/components/schemas/Int16LookupModelListMethodResult"
  /api/v1/lookups/UsageReportingTypes: 
    get: 
      tags: 
      - "Lookups"
      summary: "List the Usage Reporting Types"
      description: ""
      responses: 
        200: 
          description: "OK"
          content: 
            text/plain: 
              schema: 
                $ref: "#/components/schemas/Int16LookupModelListMethodResult"
            application/json: 
              schema: 
                $ref: "#/components/schemas/Int16LookupModelListMethodResult"
            text/json: 
              schema: 
                $ref: "#/components/schemas/Int16LookupModelListMethodResult"
  /api/v1/lookups/UsageReportingStatuses: 
    get: 
      tags: 
      - "Lookups"
      summary: "List the Usage Reporting Statuses"
      description: ""
      responses: 
        200: 
          description: "OK"
          content: 
            text/plain: 
              schema: 
                $ref: "#/components/schemas/Int16LookupModelListMethodResult"
            application/json: 
              schema: 
                $ref: "#/components/schemas/Int16LookupModelListMethodResult"
            text/json: 
              schema: 
                $ref: "#/components/schemas/Int16LookupModelListMethodResult"
  /api/v1/metrics/datatransfer: 
    get: 
      tags: 
      - "Metrics"
      summary: "List details of Data Transferred"
      description: ""
      parameters: 
      - name: "filter"
        in: "query"
        schema: 
          type: "string"
          default: ""
      - name: "timewindow"
        in: "query"
        schema: 
          type: "integer"
          format: "int32"
          default: "360"
      responses: 
        200: 
          description: "OK"
          content: 
            text/plain: 
              schema: 
                $ref: "#/components/schemas/DataTransferMetricReadModelV1IEnumerableMethodResult"
            application/json: 
              schema: 
                $ref: "#/components/schemas/DataTransferMetricReadModelV1IEnumerableMethodResult"
            text/json: 
              schema: 
                $ref: "#/components/schemas/DataTransferMetricReadModelV1IEnumerableMethodResult"
  /api/v1/operatorpolicies: 
    get: 
      tags: 
      - "Operator Policies"
      summary: "List Operator Policy(s)"
      description: ""
      parameters: 
      - name: "offset"
        in: "query"
        schema: 
          type: "integer"
          format: "int32"
      - name: "limit"
        in: "query"
        schema: 
          type: "integer"
          format: "int32"
      - name: "sortBy"
        in: "query"
        schema: 
          type: "string"
      - name: "filter"
        in: "query"
        schema: 
          type: "string"
      responses: 
        200: 
          description: "OK"
          content: 
            text/plain: 
              schema: 
                $ref: "#/components/schemas/OperatorPolicyReadModelV1MethodResultList"
            application/json: 
              schema: 
                $ref: "#/components/schemas/OperatorPolicyReadModelV1MethodResultList"
            text/json: 
              schema: 
                $ref: "#/components/schemas/OperatorPolicyReadModelV1MethodResultList"
    post: 
      tags: 
      - "Operator Policies"
      summary: "Create a new Operator Policy"
      description: ""
      requestBody: 
        content: 
          application/json: 
            schema: 
              $ref: "#/components/schemas/OperatorPolicyUpsertV1"
          text/json: 
            schema: 
              $ref: "#/components/schemas/OperatorPolicyUpsertV1"
          application/*+json: 
            schema: 
              $ref: "#/components/schemas/OperatorPolicyUpsertV1"
      responses: 
        200: 
          description: "OK"
          content: 
            text/plain: 
              schema: 
                $ref: "#/components/schemas/GuidMethodResult"
            application/json: 
              schema: 
                $ref: "#/components/schemas/GuidMethodResult"
            text/json: 
              schema: 
                $ref: "#/components/schemas/GuidMethodResult"
  /api/v1/operatorpolicies/{idOrMoniker}: 
    get: 
      tags: 
      - "Operator Policies"
      summary: "Get a specific Operator Policy"
      description: ""
      parameters: 
      - name: "idOrMoniker"
        in: "path"
        required: "true"
        schema: 
          type: "string"
      responses: 
        200: 
          description: "OK"
          content: 
            text/plain: 
              schema: 
                $ref: "#/components/schemas/OperatorPolicyReadModelV1MethodResult"
            application/json: 
              schema: 
                $ref: "#/components/schemas/OperatorPolicyReadModelV1MethodResult"
            text/json: 
              schema: 
                $ref: "#/components/schemas/OperatorPolicyReadModelV1MethodResult"
    put: 
      tags: 
      - "Operator Policies"
      summary: "Update a specific Operator Policy"
      description: ""
      parameters: 
      - name: "idOrMoniker"
        in: "path"
        required: "true"
        schema: 
          type: "string"
      requestBody: 
        content: 
          application/json: 
            schema: 
              $ref: "#/components/schemas/OperatorPolicyUpsertV1"
          text/json: 
            schema: 
              $ref: "#/components/schemas/OperatorPolicyUpsertV1"
          application/*+json: 
            schema: 
              $ref: "#/components/schemas/OperatorPolicyUpsertV1"
      responses: 
        200: 
          description: "OK"
          content: 
            text/plain: 
              schema: 
                $ref: "#/components/schemas/MethodResultString"
            application/json: 
              schema: 
                $ref: "#/components/schemas/MethodResultString"
            text/json: 
              schema: 
                $ref: "#/components/schemas/MethodResultString"
    delete: 
      tags: 
      - "Operator Policies"
      summary: "Delete a specific Operator Policy"
      description: ""
      parameters: 
      - name: "idOrMoniker"
        in: "path"
        required: "true"
        schema: 
          type: "string"
      responses: 
        200: 
          description: "OK"
          content: 
            text/plain: 
              schema: 
                $ref: "#/components/schemas/MethodResultString"
            application/json: 
              schema: 
                $ref: "#/components/schemas/MethodResultString"
            text/json: 
              schema: 
                $ref: "#/components/schemas/MethodResultString"
  /api/v1/operatorpolicies/{operatorPolicyIdOrMoniker}/entries: 
    get: 
      tags: 
      - "Operator Policies"
      summary: "List the entries of a specific Operator Policy"
      description: ""
      parameters: 
      - name: "operatorPolicyIdOrMoniker"
        in: "path"
        required: "true"
        schema: 
          type: "string"
      - name: "iso3"
        in: "query"
        schema: 
          type: "string"
      responses: 
        200: 
          description: "OK"
          content: 
            text/plain: 
              schema: 
                $ref: "#/components/schemas/OperatorPolicyEntryReadModelV1ListMethodResult"
            application/json: 
              schema: 
                $ref: "#/components/schemas/OperatorPolicyEntryReadModelV1ListMethodResult"
            text/json: 
              schema: 
                $ref: "#/components/schemas/OperatorPolicyEntryReadModelV1ListMethodResult"
    post: 
      tags: 
      - "Operator Policies"
      summary: "Add an item to a specific Operator Policy"
      description: ""
      parameters: 
      - name: "operatorPolicyIdOrMoniker"
        in: "path"
        required: "true"
        schema: 
          type: "string"
      requestBody: 
        content: 
          application/json: 
            schema: 
              type: "array"
              items: 
                $ref: "#/components/schemas/OperatorPolicyEntryUpsertV1"
          text/json: 
            schema: 
              type: "array"
              items: 
                $ref: "#/components/schemas/OperatorPolicyEntryUpsertV1"
          application/*+json: 
            schema: 
              type: "array"
              items: 
                $ref: "#/components/schemas/OperatorPolicyEntryUpsertV1"
      responses: 
        200: 
          description: "OK"
          content: 
            text/plain: 
              schema: 
                $ref: "#/components/schemas/MethodResult"
            application/json: 
              schema: 
                $ref: "#/components/schemas/MethodResult"
            text/json: 
              schema: 
                $ref: "#/components/schemas/MethodResult"
  /api/v1/operatorpolicies/{operatorPolicyIdOrMoniker}/rat: 
    post: 
      tags: 
      - "Operator Policies"
      summary: "Update the Radio Access Technology of a specific Operator Policy"
      description: ""
      parameters: 
      - name: "operatorPolicyIdOrMoniker"
        in: "path"
        required: "true"
        schema: 
          type: "string"
      requestBody: 
        content: 
          application/json: 
            schema: 
              $ref: "#/components/schemas/OperatorPolicyRatUpdateV1"
          text/json: 
            schema: 
              $ref: "#/components/schemas/OperatorPolicyRatUpdateV1"
          application/*+json: 
            schema: 
              $ref: "#/components/schemas/OperatorPolicyRatUpdateV1"
      responses: 
        200: 
          description: "OK"
          content: 
            text/plain: 
              schema: 
                $ref: "#/components/schemas/MethodResult"
            application/json: 
              schema: 
                $ref: "#/components/schemas/MethodResult"
            text/json: 
              schema: 
                $ref: "#/components/schemas/MethodResult"
  /api/v1/packettrace/pcap: 
    get: 
      tags: 
      - "Packet Traces"
      summary: "List Packet Capture(s)"
      description: ""
      parameters: 
      - name: "since"
        in: "query"
        schema: 
          type: "string"
          format: "date-time"
      - name: "until"
        in: "query"
        schema: 
          type: "string"
          format: "date-time"
      - name: "filterInput"
        in: "query"
        schema: 
          type: "string"
          default: ""
      responses: 
        200: 
          description: "OK"
  /api/v1/packettrace/packets: 
    get: 
      tags: 
      - "Packet Traces"
      summary: "Get packet(s) of a Packet Capture"
      description: ""
      parameters: 
      - name: "since"
        in: "query"
        schema: 
          type: "string"
          format: "date-time"
      - name: "until"
        in: "query"
        schema: 
          type: "string"
          format: "date-time"
      - name: "offset"
        in: "query"
        schema: 
          type: "integer"
          format: "int32"
      - name: "limit"
        in: "query"
        schema: 
          type: "integer"
          format: "int32"
      - name: "sortBy"
        in: "query"
        schema: 
          type: "string"
      - name: "filter"
        in: "query"
        schema: 
          type: "string"
      - name: "packetFilter"
        in: "query"
        schema: 
          type: "string"
          default: ""
      responses: 
        200: 
          description: "OK"
          content: 
            text/plain: 
              schema: 
                $ref: "#/components/schemas/PacketTracePacketModelV1MethodResultList"
            application/json: 
              schema: 
                $ref: "#/components/schemas/PacketTracePacketModelV1MethodResultList"
            text/json: 
              schema: 
                $ref: "#/components/schemas/PacketTracePacketModelV1MethodResultList"
  /api/v1/radiusservers: 
    get: 
      tags: 
      - "Radius Server"
      summary: "List RADIUS Server(s)"
      description: "List RADIUS Server(s)"
      parameters: 
      - name: "offset"
        in: "query"
        schema: 
          type: "integer"
          format: "int32"
      - name: "limit"
        in: "query"
        schema: 
          type: "integer"
          format: "int32"
      - name: "sortBy"
        in: "query"
        schema: 
          type: "string"
      - name: "filter"
        in: "query"
        schema: 
          type: "string"
      responses: 
        200: 
          description: "OK"
          content: 
            text/plain: 
              schema: 
                $ref: "#/components/schemas/RadiusServerReadModelV1MethodResultList"
            application/json: 
              schema: 
                $ref: "#/components/schemas/RadiusServerReadModelV1MethodResultList"
            text/json: 
              schema: 
                $ref: "#/components/schemas/RadiusServerReadModelV1MethodResultList"
    post: 
      tags: 
      - "Radius Server"
      summary: "Create a new RADIUS Server"
      description: "Create a new RADIUS Server"
      requestBody: 
        content: 
          application/json: 
            schema: 
              $ref: "#/components/schemas/RadiusServerUpsertModelV1"
          text/json: 
            schema: 
              $ref: "#/components/schemas/RadiusServerUpsertModelV1"
          application/*+json: 
            schema: 
              $ref: "#/components/schemas/RadiusServerUpsertModelV1"
      responses: 
        200: 
          description: "OK"
          content: 
            text/plain: 
              schema: 
                $ref: "#/components/schemas/GuidMethodResult"
            application/json: 
              schema: 
                $ref: "#/components/schemas/GuidMethodResult"
            text/json: 
              schema: 
                $ref: "#/components/schemas/GuidMethodResult"
  /api/v1/radiusservers/{idOrMoniker}: 
    get: 
      tags: 
      - "Radius Server"
      summary: "Get a specific RADIUS Server"
      description: "Get a specific RADIUS Server"
      parameters: 
      - name: "idOrMoniker"
        in: "path"
        required: "true"
        schema: 
          type: "string"
      responses: 
        200: 
          description: "OK"
          content: 
            text/plain: 
              schema: 
                $ref: "#/components/schemas/RadiusServerReadModelV1MethodResult"
            application/json: 
              schema: 
                $ref: "#/components/schemas/RadiusServerReadModelV1MethodResult"
            text/json: 
              schema: 
                $ref: "#/components/schemas/RadiusServerReadModelV1MethodResult"
    put: 
      tags: 
      - "Radius Server"
      summary: "Update an existing RADIUS Server"
      description: "Update an existing RADIUS Server"
      parameters: 
      - name: "idOrMoniker"
        in: "path"
        required: "true"
        schema: 
          type: "string"
      requestBody: 
        content: 
          application/json: 
            schema: 
              $ref: "#/components/schemas/RadiusServerUpsertModelV1"
          text/json: 
            schema: 
              $ref: "#/components/schemas/RadiusServerUpsertModelV1"
          application/*+json: 
            schema: 
              $ref: "#/components/schemas/RadiusServerUpsertModelV1"
      responses: 
        200: 
          description: "OK"
          content: 
            text/plain: 
              schema: 
                $ref: "#/components/schemas/GuidMethodResult"
            application/json: 
              schema: 
                $ref: "#/components/schemas/GuidMethodResult"
            text/json: 
              schema: 
                $ref: "#/components/schemas/GuidMethodResult"
    delete: 
      tags: 
      - "Radius Server"
      summary: "Delete a RADIUS Server"
      description: "Delete a RADIUS Server"
      parameters: 
      - name: "idOrMoniker"
        in: "path"
        required: "true"
        schema: 
          type: "string"
      responses: 
        200: 
          description: "OK"
          content: 
            text/plain: 
              schema: 
                $ref: "#/components/schemas/MethodResultString"
            application/json: 
              schema: 
                $ref: "#/components/schemas/MethodResultString"
            text/json: 
              schema: 
                $ref: "#/components/schemas/MethodResultString"
  /api/v1/regionalpolicies/gateways: 
    get: 
      tags: 
      - "Regional Gateways"
      responses: 
        200: 
          description: "OK"
          content: 
            text/plain: 
              schema: 
                $ref: "#/components/schemas/RegionalGatewayLookupModelV1ListMethodResult"
            application/json: 
              schema: 
                $ref: "#/components/schemas/RegionalGatewayLookupModelV1ListMethodResult"
            text/json: 
              schema: 
                $ref: "#/components/schemas/RegionalGatewayLookupModelV1ListMethodResult"
  /api/v1/regionalpolicies: 
    get: 
      tags: 
      - "Regional Gateways"
      parameters: 
      - name: "offset"
        in: "query"
        schema: 
          type: "integer"
          format: "int32"
      - name: "limit"
        in: "query"
        schema: 
          type: "integer"
          format: "int32"
      - name: "sortBy"
        in: "query"
        schema: 
          type: "string"
      - name: "filter"
        in: "query"
        schema: 
          type: "string"
      - name: "includeFixed"
        in: "query"
        schema: 
          type: "boolean"
          default: "false"
      responses: 
        200: 
          description: "OK"
          content: 
            text/plain: 
              schema: 
                $ref: "#/components/schemas/RegionalGatewayPolicyListModelV1MethodResultList"
            application/json: 
              schema: 
                $ref: "#/components/schemas/RegionalGatewayPolicyListModelV1MethodResultList"
            text/json: 
              schema: 
                $ref: "#/components/schemas/RegionalGatewayPolicyListModelV1MethodResultList"
    post: 
      tags: 
      - "Regional Gateways"
      requestBody: 
        content: 
          application/json: 
            schema: 
              $ref: "#/components/schemas/RegionalGatewayPolicyUpsertV1"
          text/json: 
            schema: 
              $ref: "#/components/schemas/RegionalGatewayPolicyUpsertV1"
          application/*+json: 
            schema: 
              $ref: "#/components/schemas/RegionalGatewayPolicyUpsertV1"
      responses: 
        200: 
          description: "OK"
          content: 
            text/plain: 
              schema: 
                $ref: "#/components/schemas/GuidMethodResult"
            application/json: 
              schema: 
                $ref: "#/components/schemas/GuidMethodResult"
            text/json: 
[...]
